@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --text: #000000;
    --background: #e3dbff;
    --primary: #1219d3;
    --secondary: #bd8c47;
    --accent: #d4be16;

    /* Base UI Elements (Fallback for UI components) */
    --foreground: var(--text);
    --card: var(--background);
    --card-foreground: var(--text);
    --popover: var(--background);
    --popover-foreground: var(--text);
    --muted: #d1d5db;
    --muted-foreground: #6b7280;
    --destructive: #ef4444;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: var(--primary);
    --radius: 0.625rem;
  }

  .dark {
    --text: #ffffff;
    --background: #080024;
    --primary: #2c32ed;
    --secondary: #b88742;
    --accent: #e9d32b;

    /* Base UI Elements (Fallback for UI components) */
    --foreground: var(--text);
    --card: var(--background);
    --card-foreground: var(--text);
    --popover: #110836; /* Slightly lighter than dark background */
    --popover-foreground: var(--text);
    --muted: #374151;
    --muted-foreground: #9ca3af;
    --destructive: #7f1d1d;
    --border: #1f2937;
    --input: #1f2937;
    --ring: var(--primary);
  }
}

@theme inline {
  /* Typography Configuration */
  --font-heading: var(--font-acme), "Acme", sans-serif;/* here is for my main header*/
  --font-body: var(--font-sora), "Sora", sans-serif;/* here is for my main body*/

  --text-sm: 0.707rem;
  --text-base: 1rem;
  --text-xl: 1.414rem;
  --text-2xl: 1.999rem;
  --text-3xl: 2.827rem;
  --text-4xl: 3.997rem;
  --text-5xl: 5.652rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Color Configuration */
  --color-text: var(--text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    background-color: var(--background);
    color: var(--text);
  }
}
